@font-face {
    font-family: 'HolidayFree';
    src: url('./fonts/HolidayFree.otf') format('opentype');
}
html {
    overflow-y: scroll !important;
    body::-webkit-scrollbar {
        display: none; 
      }
}

body {
    width: 80vw;
    height: 100vh;
    margin:0 auto;
    font-size: 1.2rem;
    font-family: Asap, Nunito, serif;
    font-weight: 600;
    background-color:rgb(240, 242, 244);
}


.foto-principal {
    border-radius: 5px;
    width: 100%; 
    object-fit: cover; 
    max-height: 70vh; 
    display: block; 
    margin: 0 auto; 
    }

h2{
    text-align: center !important;
    margin-top:10vh !important;  
}

article p{
    margin: 0;
    text-align: justify;
    font-weight: 400;
}

footer img {
    mix-blend-mode: multiply;
    padding: 5px;
    width: 60px; 
    height: auto; 
    object-fit:contain; /* Recorta la imagen si es necesario para llenar el contenedor */
    display: block; 
    margin: 10px 10px 10px 10px;
}

.footer  a{
    text-decoration: none;
}

.footer {
    list-style-type: none;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid  rgba(18, 24, 21, 0.391);
    margin-top: 30px;
}

footer p {
    display: block;
    text-align: center;
    
}

footer p a{
    text-decoration: none;
    color: #222 !important; 
}

footer li a {
    color: #222 !important; 
}

article p {
    margin: 0 15%;
    padding: 10px;
}

.navbar {
    padding: 0;
}

.navbar-nav {
    border: solid 1px #222;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    margin: 0 auto 20px auto;
    
}

.navbar-brand {
    margin: 5vh auto;
    text-decoration: none;
}

.navbar-brand > h1{
    font-family: HolidayFree;
    color: #333;
    font-size: 5rem;
    font-weight: 100;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-top: 30px;
}

.navbar-nav a{
    font-weight: 300;
    color: rgba(255, 255, 255, 0.959);
    text-decoration: none;
}

.navbar-nav li {
    margin: 0 auto;
    background: #222 ;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding: 10px;
    width: 100%;

}

.container-fluid {
    margin: 10px auto;
    padding: 0 0;
}

li > .madProyect:hover {
    color: white;
    animation: neonEffect 1.5s infinite alternate;
}

.madProyect {
    transition: all 0.3s ease;
}

@keyframes neonEffect {
    0% {
      text-shadow: 0px 0px 10px rgba(0, 255, 150),
                   0px 0px 20px rgba(0, 255, 150),
                   0px 0px 30px rgba(0, 255, 150),
                   0px 0px 40px rgba(0, 255, 150);
    }
    50% {
      text-shadow: 0px 0px 10px rgba(255, 150, 0),
                   0px 0px 20px rgba(255, 150, 0),
                   0px 0px 30px rgba(255, 150, 0),
                   0px 0px 40px rgba(255, 150, 0);
    }
    100% {
      text-shadow: 0px 0px 10px rgba(255, 0, 150),
                   0px 0px 20px rgba(255, 0, 150),
                   0px 0px 30px rgba(255, 0, 150),
                   0px 0px 40px rgba(255, 0, 150);
    }
}

li > .madProyect:active {
    transform: scale(1.2);
    
    color { @keyframes neonEffect {
        0% {
          text-shadow: 0px 0px 10px rgba(0, 255, 150),
                       0px 0px 20px rgba(0, 255, 150),
                       0px 0px 30px rgba(0, 255, 150),
                       0px 0px 40px rgba(0, 255, 150);
        }
        50% {
          text-shadow: 0px 0px 10px rgba(255, 150, 0),
                       0px 0px 20px rgba(255, 150, 0),
                       0px 0px 30px rgba(255, 150, 0),
                       0px 0px 40px rgba(255, 150, 0);
        }
        100% {
          text-shadow: 0px 0px 10px rgba(255, 0, 150),
                       0px 0px 20px rgba(255, 0, 150),
                       0px 0px 30px rgba(255, 0, 150),
                       0px 0px 40px rgba(255, 0, 150);
        }
    }
    }
}

.imagen {
    width: inherit;
    height: 600px    ;
    object-fit:cover;
    border: 10px solid transparent;
    border-radius: 15px;
    box-sizing:border-box
}